*{
    margin: 0 0;
    padding: 0 0;
}
body{
    font-family: arial,sans-seriff;
    line-height: 25px;
}

.wrapper{
    width: 90%;
    margin: 0 auto;
    padding: 1% 1%;
}
.clearfix:after {
   content: " ";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}
/*CSS for Header*/
.header{
    background-color: rgb(88, 130, 247);
    color: white;
}

/*CSS for MEnu*/
.menu ul{
    list-style-type: none;
}
.menu ul a{
    color: rgb(66, 66, 233);
    text-decoration: none;
    padding: 1%;
}
.menu ul a:hover{
    background-color: rgb(74, 111, 233);
    color: white;
}
.menu ul a li{
    display: inline;
}



/*CSS for Main Body*/
.main{
    margin: 1% 0;
}
.main h3{
    color: purple;
}
.profiles{
    width: 22.5%;
    height: 50px;
    border: 1px solid grey;
    margin: 1%;
    float: left;
    text-align: center;
}
.profiles:hover{
    box-shadow: 0 0 3px 3px silver;
}
.profiles img{
    width: 100%;
    height: 370px;
}
.profiles .profile-title{
    font-weight: bold;
    color: rgb(14, 14, 71);
    padding: 1%;
}
.house-price{
    font-size: 120%;
    color: goldenrod;
    padding: 1%;
}
.designation,.current-status{
    font-weight: lighter;
    font-size: 90%;
    color: rgb(112, 112, 218);
    padding: 1%;
}
.profiles .btn-profile{
    padding: 3%;
    margin: 3%;
    background-color: rgb(78, 126, 231);
    color: white;
    border: none;
}
.profiles .btn-profile:hover{
    background-color: rgb(81, 81, 211);
}
.book-house img{
    width: 50%;
    float: left;
    margin: 2% 2% 2% 0;
}
.book-house h3{
    text-align: center;
    margin-bottom: 2%;
    text-decoration: underline;
}
.book-house p{
    text-align: justify;
    padding: 1%;
    line-height: 30px;
    color: #394d6d;
}
.main .booking-details{
    width: 50%;
    margin: 0 auto;
    border: 2px solid darkblue;
    padding: 2%;
    margin: 2% auto;
}
.main .booking-details h3{
    margin-bottom: 2%;
}
.main .booking-details .name{
    width: 20%;
    float: left;
}
.main .booking-details input[type='text'],.main .booking-details input[type='email'],
.main .booking-details input[type='tel'],.main .booking-details input[type='password'],
.main .booking-details textarea{
    padding: 1%;
    margin: 0.5%;
    width: 75%;
}
.main .booking-details input[type='submit']
{
    padding: 2%;
    background-color: darkblue;
    color: white;
    border: none;
    margin-left: 21%;
}
.main .booking-details input[type='submit']:hover{
    box-shadow: 0 0 3px 2px grey;
}
.main .booking-details input[type='reset']:hover{
    box-shadow: 0 0 3px 2px grey;
}
.main .booking-details input[type='reset']
{
    padding: 2%;
    background-color: darkred;
    color: white;
    border: none;
}

/*CSS for Footer*/

footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(54, 153, 211);
    color: white;
    text-align: center;
    margin-top: 40em;
  }

  .cssmarquee {
    height: 20px;
    overflow: hidden;
    position: relative;
    }
    .cssmarquee p {
    font-size: 1em;
    background-color: bisque;
    color: rgb(4, 54, 49);
    position: absolute;
    width: 100%;
    height: 100%;
    margin-top: 1px;
    line-height: 5px;
    text-align: center;
    transform:translateX(100%);
    animation: cssmarquee 10s linear infinite;
    }
    @keyframes cssmarquee {
    0% {
    transform: translateX(100%);
    }
    100% {
    transform: translateX(-100%);
    }
    }